/* body{
    margin: 0;
    padding: 0;
    background-color: rgb(88, 88, 204);
    font-family: sans-serif;
} */
.unorderd{
position: relative;
width:450px;
margin:100px auto 0;
padding: 10px;
box-sizing: border-box;
}
.unorderd .unorderd-list{
    display: flex;
    background-color:rgb(255, 255, 255,.1);
    padding: 10px 20px;
    color: #fff;
    margin: 5px 0;
}
/* ul li:nth-child(1){
background-color: rgb(255, 255, 255,.6);
} */